.TransactionComponentBlock {
    margin-left: 40px;
    margin-top: 20px;

    .line {
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.10);
        width: 150%;
    }

    .HeaderText {
        font-family: 'Inter';
        font-size: 24px;
        margin-bottom: 10px;
    }
}